@import "./styles/common";

body {
  background: $background;
}

@media (max-width: 900px) {
  .loading-screen {
    display: none;
  }
  .ring {
    display: none;
  }

  .header p,
  button,
  .media,
  h1 {
    display: none;
  }
}